body {
  background: #d6e7ff;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 48px;
  text-align: center;
}

button:focus {
  outline: none;
}

.content button {
  margin: 0 auto;
  display: block;
  border: none;
  background: #f58354;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

p {
  color: #222;
  margin-top: 50px;
  font-size: 20px;
}
